@model Allplayerdata
@*
*@
@{
}
<h1> Play </h1>

<div class=" row ">
    <div class=" col-md-4 offset-md-4 ">
        <canvas id="canvas" width="400" height="500"></canvas>
    </div>
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> <-  </a>


<script src="~/js/EUzaz.js"></script>

