@model Allplayerdata
@{
}
<h1>@Model.languageplayer.Privacy</h1>


<a href="https://t.me/Yanushkev">Telegram</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> @Model.languageplayer.ConfigBack </a>