@page
@model Mygame.Views.Home.RegistrationModel
@{
}
<h1>Register your account</h1>
<form method="post" asp-controller="Home" asp-action="Registration">
    <input name="nickname">
    </input>
    <button type="submit"> Send </button>
</form>