html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow: hidden;
}

.garage-panel {
    background-image: url("https://st.hzcdn.com/simgs/pictures/garages/his-dream-car-garage-garage-envy-img~dc411934016f2769_4-5788-1-1c4b782.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.index-panel {
    background-image: url("https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2022/04_12/family_chooser_tecnica_m.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.settings-panel {
    background-image: url('a:\project .net\mygame\mygame\views\home\img\mustang.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
